<div class="redirection">
    <b>THIS CONTENT IS ONLY AVAILABLE TO ADMINISTRATORS, YOU WILL BE REDIRECTED TO YOUR PROFILE</b>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script src="/js/noAdmin.js"></script>