<div class="redirection">
  <div class="redirection__github">
    <b class="github--msj">{{msj}}</b>
    <b class="github--role">{{role}}</b>
</div>
  <b>SESSION STARTED SUCCESFULLY ,WAIT A MOMENT PLEASE, REDIRECTING TO THE
    PRODUCTS...</b>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script src="/js/github.js"></script>