<div class="main__container__index">
  <div class="index__route--static">
    <a href="../home" type="button"><i class="fas fa-arrows-to-dot fa-beat"></i>Static
      Route</a>
  </div>
  <br />
  <div class="index__route--dinamic">
    <a href="../realtimeproducts" type="button"><i
        class="fas fa-arrows-spin fa-spin"
      ></i>Dinamic Route</a>
  </div>
  <br />
  <div class="index__route--products">
    <a href="../products" type="button"><i
        class="fa-brands fa-product-hunt fa-flip"
      ></i>roducts Route</a>
  </div>
  <br />
  <div class="index__route--carts">
    <a href="../cart" type="button"><i
        class="fa light fa-cart-shopping fa-fade"
      ></i>Carts Route</a>
  </div>
  <br />
  <div class="index__route--chat">
    <a href="../chat" type="button"><i class="far fa-comments fa-bounce"></i>Chat Route</a>
  </div>
  <br />
  <div class="index__route--profile">
    <a href="../profile" type="button"><i
        class="far fa-face-smile fa-bounce fa-beat"
      ></i>Profile Route</a>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script src="/js/index.js"></script>
