<div class="login">
  <div class="login__container">
    <div class="login__container__form">
      <div class="login__form--title">
        <b>LOGIN DELIPASO</b>
      </div>
      <div class="login__form--contain">
        <form method="POST" action="#" name="form">
          <ul>
            <div class="login__form__profile">
            </div>
            <li>
              <input type="checkbox" id="userCheck" class="viewUser" />
              <div class="login__form__input">
                <label class="login--label">User</label>
                <input
                  class="login__user login--input"
                  type="email"
                  id="user"
                  placeholder="Enter user"
                  required
                />
              </div>
            </li>
            <li>
              <input type="checkbox" id="pswCheck" class="viewPassword" />
              <div class="login__form__input">
                <label class="login--label">Password</label>
                <input
                  class="login__psw login--input"
                  type="password"
                  id="password"
                  placeholder="Enter Password"
                  required
                />
                <button type="button" id="btnTogglePsw" class="RevealPsw">
                  <i class="fa-regular fa-eye-slash">
                  </i></button>
              </div>
            </li>
          </ul>
          <div class="login__checkBox">
            <input type="checkbox" id="loginCheck" class="form-check-input" />
            <label>Remind me</label>
            <a href="../forgot" class="login__forgot">
              Forgot password?</a>
          </div>
          <div class="login__inputBox">
            <div class="login__action">
              <button type="submit" class="btnLogin">
                <b>LOG IN</b>
              </button>
              <button type="button" class="btnSignUp">
                <b>SIGN UP</b>
              </button>
            </div>
          </div>
          <div class="login__github">
            <a href="/api/sessions/github"><button type="button" class="btnGitHub">
              GitHub</button>
              </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Compiled and minified JavaScript -->
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>