<div class="redirection">
    <b>THE SESSION HAS EXPIRED, WAIT A MOMENT PLEASE, REDIRECTING TO THE LOGIN...</b>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script src="/js/redirection.js"></script>