@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/sinami");
@import url("https://fonts.cdnfonts.com/css/love-you");
@import url("https://fonts.cdnfonts.com/css/thirty-seven");
@import url("https://fonts.cdnfonts.com/css/g-glegar");
@import url("https://fonts.cdnfonts.com/css/tt-marxiana-trial");
@import url("https://fonts.cdnfonts.com/css/dec-terminal-modern");
@import url("https://fonts.cdnfonts.com/css/capriola-buisiness");

/*ALL BLOCK*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
  cursor: no-drop;
  background-color: #dddddd !important;
}

.onlyView {
  pointer-events: none;
  background-color: #ffffff !important;
}

.noMargin {
  margin: 0;
}

.aquamarine {
  background-color: rgb(0, 255, 195);
  box-shadow: #2cfff1 0px 0px 15px 0px;
}

.quantityP {
  font-size: 1rem;
  color: rgb(1, 1, 64);
  border-radius: 5px;
  background-color: transparent;
  box-shadow: #482cff 0px 0px 15px 0px;
}
.empty {
  color: rgb(255, 0, 0) !important;
}

.error,
.unique {
  pointer-events: none;
  opacity: 0.1;
}

.view {
  pointer-events: none;
  opacity: 0.1;
}

.loading,
.loaded {
  position: absolute;
  margin: auto;
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-field {
  margin-top: 10px !important;
}

.input-field select {
  width: fit-content;
}

.swal2-select {
  display: flex;
  align-self: center;
  justify-self: center;
  width: fit-content;
}

/*MAIN BLOCK*/
.container__grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 15rem));
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
  height: auto;
  overflow: auto;
  margin: 0.5vh 0;
  overflow-x: hidden;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

.container__cart {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 15px;
  height: 70vh;
  overflow: auto;
  margin: 0.5vh 0;
  overflow-x: hidden;
  margin-top: 10px;
  width: 100%;
  place-content: start;
}

.container__grid::-webkit-scrollbar,
.container__cart::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.container__grid::-webkit-scrollbar-button:decrement:start,
.container__cart::-webkit-scrollbar-button:decrement:start {
  border: solid black 1px;
  height: 3vh;
  border-radius: 4px;
}

.container__grid::-webkit-scrollbar-button:increment:end,
.container__cart::-webkit-scrollbar-button:increment:end {
  border: solid black 1px;
  height: 3vh;
  border-radius: 4px;
}

.container__grid::-webkit-scrollbar-button:active,
.container__cart::-webkit-scrollbar-button:active {
  background-color: yellow;
}

.container__grid::-webkit-scrollbar-thumb,
.container__cart::-webkit-scrollbar-thumb {
  background-color: rgb(159, 255, 201);
  border: solid black 1px;
  border-radius: 4px;
  cursor: pointer;
}

.container__grid::-webkit-scrollbar-thumb:hover,
.container__cart::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #87f792;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.container__grid::-webkit-scrollbar-track,
.container__cart::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.container__grid::-webkit-scrollbar-track:hover,
.container__cart::-webkit-scrollbar-track:hover {
  background: #d4d4d4;
}

/*HEAD BLOCK*/
.head {
  margin: 0;
  z-index: 50;
  position: sticky;
  top: 0;
  background: linear-gradient(rgb(190, 240, 255), white);
}

.head__h2 {
  height: 6vh;
  margin: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*NAVIGATION BLOCK*/
.nav {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-degradado-cielo-pastel_23-2148917404.jpg?w=2000");
  z-index: 2;
}

.nav__container--email-logged {
  color: black;
  position: relative;
  margin-top: 5px;
  height: 85%;
  width: 6vw;
  border-radius: 10px;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav__container--email-logged:hover {
  overflow: visible;
  cursor: pointer;
}

/*NAVIGATION BLOCK REF*/
.div__container--focusBtn a {
  outline: solid black 1px;
  color: black;
  position: relative;
  margin-top: 5px;
  height: 85%;
  width: 7.5vw;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.div__container--focusBtn a:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 195);
  box-shadow: #dfff2c 0px 0px 15px 0px;
}

.div__container--focusBtn a.active {
  cursor: pointer;
  background-color: rgb(219, 146, 255);
  box-shadow: #2cfff1 0px 0px 15px 0px;
}

.div__container--focusBtn a.disabled {
  background-color: rgb(238, 236, 236);
  color: gray;
}

.div__container--focusBtn i {
  position: relative;
  top: 1vh;
}

.div__container--focusBtn b {
  position: absolute;
  top: 1vh;
  right: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.div__container--focusBtn:hover i {
  font-size: 1.5rem;
  overflow: visible;
}

.div__container--focusBtn:hover b {
  font-size: 0.75rem;
  overflow: visible;
}

/*SIDEBAR BLOCK */
.asideMLD__dropdown {
  height: 89vh;
  width: 16.5vw;
  position: fixed;
  top: 6vh;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: transparent;
}

.asideMLD__dropdown:hover > .asideMLD__menu {
  box-shadow: #bceca0 0px 0px 10px 0px;
}

.asideMLD__dropdown--contain button {
  background-color: transparent;
  border: none;
  width: 50%;
  font-size: 3vw;
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: end;
}

.asideMLD__dropdown--contain i {
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  font-size: 100%;
  z-index: 4;
}

.asideMLD__dropdown--menu {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  width: 16.5vw;
  display: block;
  height: 90vh;
}

.asideMLD__menu--logo {
  background-color: transparent;
  position: relative;
  top: 0;
  margin: auto;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.asideMLD__menu--logo img {
  object-fit: cover;
  height: 25vh;
  display: block;
  position: absolute;
  z-index: 0;
}

.asideMLD__menu--addProduct {
  position: relative;
  background-color: transparent;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.btnAsideMLD,.btnAsideMLD:focus{
  font-size: 1.5rem;
  width: 90%;
  border-radius: 15px;
  color: rgb(4, 167, 4);
  background-color: transparent;
  box-shadow: #9ce3fa 0px 0px 10px 0px;
  border: none;
  border-bottom: solid red 2px;
  height: 8vh;
  z-index: 1;
}

.btnAsideMLD:hover {
  box-shadow: #00bfff 0px 0px 10px 0px;
  cursor: pointer;
  color: #02e30e;
}

.btnAsideMLD p {
  display: inline-block;
  padding-left: 5px;
  font-size: 1.1rem;
  font-weight: bolder;
  color: rgb(0, 100, 95);
  filter: drop-shadow(0 0 10px #06fbff);
}

.asideMLD__menu--options {
  background-color: transparent;
  border-top: solid purple 5px;
  border-bottom: solid purple 5px;
  width: 100%;
  height: fit-content;
  z-index: 1;
}

.asideMLD__menu--options h6 {
  background-color: transparent;
  color: #9d00ff;
  position: relative;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "thirty-seven", sans-serif;
  font-size: 2.3vw;
  margin: 0;
}

.asideMLD__menu--options button {
  position: relative;
  background: none;
  border: none;
  text-align: start;
  margin: 2px;
  padding: 2px;
  font-size: 0.8em;
}

.asideMLD__menu--options button:hover {
  background-color: rgb(67, 223, 80);
  outline: solid black 1px;
  cursor: pointer;
  border-radius: 3px;
}

.asideMLD__menu--options ul {
  display: flex;
  align-self: center;
  justify-content: start;
  flex-direction: column;
  height: 59vh;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.asideMLD__menu--options ul:hover b {
  font-size: 1rem;
}
.asideMLD__menu--options ul:hover i {
  font-size: 1.3rem;
}

.asideMLD__menu--options li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.asideMLD__menu--options li:hover b {
  font-size: 1.2rem;
}

.asideMLD__menu--options a {
  color: black;
  display: block;
  align-items: center;
  justify-content: start;
  font-family: "Sinami", sans-serif;
  font-size: 1rem;
  width: 85%;
  padding: 10px 0;
  margin: 10px;
  text-overflow: ellipsis;
}

.asideMLD__menu--options a:hover b {
  font-size: 1.3rem;
  padding-left: 5px;
}

.asideMLD__menu--options a:active {
  cursor: wait;
}

.asideMLD__menu--options a:hover i {
  margin-right: 2px;
}

.asideMLD__menu--options b {
  display: inline-flex;
  align-self: start;
  font-size: 1.2em;
  position: relative;
  top: 0;
  margin-left: 3px;
  width: fit-content;
}

.asideMLD__menu--options i {
  display: inline-flex;
  align-self: start;
  font-size: 1.2em;
  position: relative;
  top: 0;
  width: fit-content;
  margin-left: 3px;
}

.asideSD__dropdown {
  height: 80vh;
  width: 16.5vw;
  position: fixed;
  top: 16vh;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  background-color: transparent;
}

.asideSD__dropdown--addProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 10vh;
  width: 10vh;
  margin-bottom: 10px;
}

.asideSD__dropdown--contain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
  width: 10vh;
  margin-bottom: 10px;
}
.asideSD__dropdown--button,.asideSD__dropdown--button:focus {
  font-size: 1.2rem;
  position: relative;
  height: 7vh;
  width: 12vw;
  border-radius: 15px;
  font-weight: bolder;
  z-index: 4;
  color: rgb(4, 167, 4);
  background-color: transparent;
  box-shadow: #9ce3fa 0px 0px 10px 0px;
  border: none;
  border-bottom: solid red 2px;
}

.asideSD__dropdown a {
  background-color: transparent;
  border: solid 2px black;
  color: black;
  font-size: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 12vw;
  border-radius: 15px;
  font-weight: bolder;
  z-index: 4;
}
.asideSD__dropdown b {
  font-size: 1.1rem;
  font-weight: bolder;
  color: rgb(0, 100, 95);
  filter: drop-shadow(0 0 10px #06fbff);
}

.asideSD__dropdown--contain a.active {
  cursor: pointer;
  background-color: rgb(219, 146, 255);
  box-shadow: #2cfff1 0px 0px 15px 0px;
  color: black;
}

.asideSD__dropdown--contain a.disabled {
  background-color: rgb(238, 236, 236);
  color: gray;
}

.asideSD__dropdown--i {
  display: block;
}

.asideSD__dropdown--button:hover,
.asideSD__dropdown--contain a:hover {
  background: linear-gradient(rgb(60, 255, 0), white);
  cursor: pointer;
  z-index: 4;
}

.asideSD__menu--logo {
  display: flex;
  align-self: center;
  justify-content: center;
  position: fixed;
  top: 6vh;
  width: 16.5vw;
  z-index: 2;
}

.asideSD__menu--logo img {
  object-fit: cover;
  height: 10vh;
  display: block;
  position: sticky;
  top: 6vh;
  z-index: 0;
}

/*MAIN BLOCK*/
.main__container {
  margin: auto;
  width: auto;
  background: linear-gradient(white, rgb(190, 240, 255));
  height: auto;
  z-index: 0;
}

.main__container--side {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-degradado-cielo-pastel_23-2148917404.jpg?w=2000");
  background-size: cover;
  z-index: 1;
  height: 100vh;
  position: sticky;
  top: 0;
  display: block;
}

.main__container__dinamic {
  z-index: 0;
  position: sticky;
  top: 6vh;

}

/*DINAMIC BLOCK*/
.dinamic__container--grid {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: relative;
  left: 10px;
  height: 65vh;
  overflow: hidden;
}

.dinamico {
  margin: 0;
  padding-top: 10px;
}

.dinamic__container--addProduct {
  position: relative;
}

.inactiveAdd {
  position: absolute;
  left: -50vw;
}

.dinamic__tittle {
  margin: 0;
  padding: 0;
}

.dinamic__tittle--addProduct {
  position: sticky;
  margin: 0;
  top: 0;
  display: block;
  margin-left: 10px;
  font-size: 2.5rem;
  width: 100%;
  font-family: "Sinami", sans-serif;
}

/*FORM BLOCK*/
.form__contain {
  margin: 1px;
}

.form__contain label {
  font-size: 1.5rem;
  font-family: "Love You", sans-serif;
}

.input-field {
  margin: 7px;
}

.input-field select {
  width: fit-content;
}

/*SAVE BUTTON*/

.form--btnSave {
  white-space: normal;
  background-color: #6a00ff;
  border: solid rgb(16, 2, 109) 2px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #ffffff;
  font-family: "Sinami", sans-serif;
  font-size: 1.875rem;
  padding-top: 8px !important;
  transition: all 500ms ease;
}

.form--btnSave:hover {
  box-shadow: #9966cc 0px 0px 20px 0px;
  background: linear-gradient(rgb(119, 137, 255), white);
  color: #000000;
  cursor: pointer;
}

/*CANCEL BUTTON*/

.form--btnCancel {
  white-space: normal;
  background: rgb(255, 0, 0);
  border: solid rgb(114, 1, 1) 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffffff;
  font-family: "Sinami", sans-serif;
  font-size: 1.875rem;
  padding-top: 10px !important;
  transition: all 500ms ease;
}

.form--btnCancel:hover {
  box-shadow: #00befe 0px 0px 10px 0px;
  background: linear-gradient(rgb(255, 119, 119), white);
  color: #000000;
  cursor: pointer;
}

/*CLOSE BUTTON */

.form--btnClose {
  /*CANCEL BUTTON*/
  white-space: normal;
  background: rgb(255, 0, 0);
  border: solid rgb(114, 1, 1) 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffffff;
  font-family: "Sinami", sans-serif;
  font-size: 1.875rem;
  padding-top: 10px !important;
  transition: all 500ms ease;
}

.form--btnClose:hover {
  box-shadow: #00befe 0px 0px 10px 0px;
  background: linear-gradient(rgb(255, 119, 119), white);
  color: #000000;
  cursor: pointer;
}

.btnViewClose {
  white-space: normal;
  background: rgb(255, 0, 0);
  border: solid rgb(114, 1, 1) 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffffff;
  font-family: "Sinami", sans-serif;
  font-size: 1.875rem;
  padding-top: 10px !important;
  transition: all 500ms ease;
}

.btnViewClose:hover,
.btnViewClose:focus {
  box-shadow: #00befe 0px 0px 10px 0px;
  background: linear-gradient(rgb(255, 119, 119), white);
  color: #000000;
  cursor: pointer;
}

/*STATIC TITLE BLOCK*/
.static__tittle {
  position: relative;
  display: block;
  z-index: 2;
  text-align: start;
  height: 5vh;
}

.static__tittle p {
  margin: 0;
  position: static;
  font-size: 2rem;
  font-family: "Sinami", sans-serif;
}

.static__tittleCart {
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: start;
  height: 6vh;
  width: 100%;
  z-index: 2;
}

.static__tittleCart p{
  margin: 0;
  position: relative;
  display: flex;
  font-size: 2rem;
  font-family: "Sinami", sans-serif;
}

.cart__container--header{
  position: sticky;
  top: 6vh;
  height: fit-content;
  overflow: hidden;
}

.static__container--grid {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 0.625rem;
  height: 67vh;
}

.static__container--cart {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 0.625rem;
  height: 65vh;
}

.static__newCart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height:6vh;
  margin: 0;
}

/*DINAMIC CONTAIN NAV FILTERS*/
.dinav__container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dinav__container--order,.dinav__container--option  {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  background-color: transparent;
  z-index: 2;
  box-shadow: none;
  transition: all 500ms;
  height: fit-content;
  width: 100%;
}

.dinav__titleOrder, .dinav__titleFilter{
  position: relative;
  display: block;
  width: 20%;
  margin: 0;
}

.dinav__Order{
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 0;
  width:80%;
}
.dinav__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 0;
  width: 40%;
}

.dinav__container--order:hover,
.dinav__container--option:hover {
  background-color: #efe;
  box-shadow: 2px 2px 4px #ddd;
}

.dinav__order--label,
.dinav__filter--label {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
}

.dinav__order--select, .dinav__filter--select {
  border: solid black 1px;
  padding: 5px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-left: 25px;
  height: 3.7vh;
  width: 100%;
  display: block;
  cursor: pointer;
  appearance: none;
  background-color: #39ff9c;
  font-family: "Quicksand", sans-serif;
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  background-image: url(../assets/icons/arrow.ico);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  padding-right: 20px;
}

.dinav__order--select:hover, .dinav__filter--select:hover  {
  background-color: #43ff66;
}

.dinav__option:focus {
  outline: none;
  background-color: none;
}

.dinav--option:checked {
  display: none;
}

/*DINAMIC CONTAIN PAGES*/
.dinav__container--pages {
  background: none;
  box-shadow: none;
  margin: 0;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dinav__pages--izq,
.dinav__pages--der {
  position: relative;
  background-color: transparent;
  display: inline-flex;
  z-index: 1;
  border: solid black 1px;
  height: fit-content;
}

.dinav__pages--izq i,
.dinav__pages--der i {
  border: solid yellow 2px;
  position: relative;
  color: black;
  font-size: 1.5rem;
  z-index: 2;
  padding: 5px;
  cursor: pointer;
  height: fit-content;
}

.dinav__pages--disabled i {
  border: solid #ccc 2px;
  position: relative;
  color: #ccc;
  font-size: 1.5rem;
  z-index: 2;
  padding: 5px;
  cursor: no-drop;
  height: fit-content;
}

.dinav__pages--center {
  color: black;
  font-size: 1rem;
  margin: 0 10px;
  font-weight: bold;
}

.dinav__pages--center button {
  background-color: black;
  color: white;
  margin: 0 5px;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
}

/*GRID BLOCK*/
.container__grid__card {
  border: solid 1px black;
  height: 35vh;
  margin: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.container__grid__card:hover {
  background-color: rgb(230, 230, 230);
}

.container__cart__card {
  height: 20vw;
  width: auto;
  margin: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.container__empty__card {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;
  background-image: url("https://img.freepik.com/free-vector/abstract-colorful-waves-transparent-background_1055-2093.jpg");
}

.container__grid__card .card {
  margin: 0;
  height: 15vh;
}

.container__cart__card .card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  border: solid orange 2px;
}

.container__empty__card .card {
  margin: 0;
  height: 50vh;
  width: 100%;
  position: absolute;
  flex-direction: column;
  background-color: transparent;
}

.card-title--filled {
  margin: 0;
  opacity: 0.8;
  color: black;
  background: #ffbb77;
  position: relative;
  display: block;
  font-family: "TT Marxiana Trial", sans-serif;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 500ms ease;
}

.card-title--filled:hover {
  cursor: pointer;
  width: 100%;
  height: auto;
  line-height: auto;
  white-space: normal;
  word-wrap: break-word;
  box-shadow: #2cff37 0px 0px 15px 0px;
}

.card-img-top--filled {
  object-fit: cover;
  border-bottom: solid black 3px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  height: 100%;
  width: 100%;
}

.card-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-item--empty {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.card-item--empty i {
  font-size: 14vh;
  color: rgb(255, 43, 96);
}

.card-item i {
  font-size: 15vw;
}

.card-body {
  position: relative;
  display: block;
  width: auto;
  text-align: center;
  font-size: large;
  justify-content: center;
  height: 16vh;
  overflow: hidden;
  z-index: 1;
}

.card-body--empty {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  overflow: hidden;
}

.card-text--empty {
  display: block;
  font-size: 1.25rem;
  margin: 5px;
  color: #000000;
  position: relative;
  width: fit-content;
  text-align: center;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px 0px;
}

.card-text--description {
  display: block;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  top: 1vh;
  z-index: 5;
}

.card-text--description:hover,
.card-text--description:active {
  position: sticky;
  cursor: pointer;
  color: blue;
  font-size: 1.125rem;
  overflow: visible;
  text-overflow: "";
  white-space: break-spaces;
  width: 100%;
}

.card-text--price {
  font-size: 1.25rem;
  position: relative;
  top: 2vh;
  display: block;
  font-family: "TT Marxiana Trial", sans-serif;
  z-index: 1;
}

.card-text--price:hover {
  color: red;
  font-size: 1.325rem;
  cursor: pointer;
}

.card-text--total {
  font-size: 1.25rem;
  position: relative;
  display: block;
  top: 2vh;
  font-family: "TT Marxiana Trial", sans-serif;
  z-index: 1;
}

.card-text--total:hover {
  filter: drop-shadow(0 0 20px #9900ff);
  color: #a200ff;
  font-size: 1.325rem;
  cursor: pointer;
}

.card-footer {
  position: relative;
  display: block;
  bottom: 6vh;
  z-index: 2;
  background-color: transparent;
}
.card-footer--products {
  position: relative;
  display: block;
  bottom: 5vh;
  z-index: 2;
  background-color: transparent;
}
.card-footer--products p {
  position: relative;
  bottom: -10px;
  font-weight: bold;
}

.card__footer--empty {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text--code {
  display: block;
  font-size: 1rem;
  text-align: start;
  margin-left: 5px;
  color: #6a00ff;
  width: fit-content;
}

.card-text--stock {
  display: inline-flex;
  font-size: 1rem;
  text-align: start;
  margin-left: 5px;
  color: #06a279;
  width: fit-content;
}

.card-text--quantity {
  display: inline-flex;
  font-size: 1rem;
  text-align: start;
  padding-top: 10px;
  margin-left: 5px;
  color: #6a00ff;
  width: fit-content;
}

.card__btnDelete,
.card__btnDelete:focus {
  font-size: 1.3rem;
  background-color: transparent;
  color: black;
  position: absolute;
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
  margin-top: 3.5vh;
}

.card__btnDelete:hover {
  cursor: pointer;
  color: red;
  background-color: rgb(255, 196, 196);
  box-shadow: rgb(249, 0, 0) 1px 1px 5px 0px;
}

/*CART BLOCK*/
.card_cart--header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cart-title--filled {
  font-size: 2vw;
  margin: 0;
  margin-top: 5px;
  opacity: 0.8;
  color: black;
  background: #ffbb77;
  position: sticky;
  display: block;
  font-family: "TT Marxiana Trial", sans-serif;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
  transition: all 500ms ease;
}

.cart-title--filled:hover {
  cursor: pointer;
  width: 100%;
  height: auto;
  line-height: auto;
  white-space: normal;
  word-wrap: break-word;
  box-shadow: #2cff37 0px 0px 15px 0px;
}

.card_cart--body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card_imgCart {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  border-bottom: solid black 3px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: rgb(179, 204, 246);
}

.card_imgCart img {
  font-size: 0.5rem;
  width: 18vw;
  height: 9vw;
  border: solid rgb(3, 11, 125) 4px;
}
.card_imgCart--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_imgCart--overlay b {
  font-size: 4.7vw;
  top: -6px;
  left: 2px;
  position: relative;
  color: rgb(255, 0, 119);
}

.card_containCart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.card-footer--cart {
  position: relative;
  bottom: 0;
  border: solid red 1px;
  height: 5vh;
}

/*BUTTONS BLOCK*/
.btnUpdate {
  background-color: transparent;
  position: absolute;
  display: block;
  z-index: 1;
  right: 0;
  top: 0;
  margin-top: 3.5vh;
  width: 3.5rem;
}

.btnUpdate:hover {
  background-color: transparent;
  color: black;
}

.btnUpdate a {
  width: 100%;
  height: 100%;
  position: absolute;
  color: black;
  font-size: 1.375rem;
  z-index: 2;
  top: 0;
  padding: 8px;
  right: 0;
  transition: all ease-in-out 500ms;
}

.btnUpdate a:hover {
  background-color: rgb(188, 255, 220);
  cursor: pointer;
  color: green;
  box-shadow: green 0 1px 5px 0;
}

.btnView {
  background-color: transparent;
  position: absolute;
  display: block;
  z-index: 1;
  right: 0;
  top: 0;
  margin-top: 3.5vh;
  width: 3.5rem;
}

.btnView:hover {
  background-color: transparent;
  color: black;
}

.btnView a {
  width: 100%;
  height: 100%;
  position: absolute;
  color: black;
  font-size: 1.375rem;
  z-index: 2;
  top: 0;
  padding: 8px;
  right: 0;
  transition: all ease-in-out 500ms;
}

.btnView a:hover {
  background-color: rgb(188, 255, 220);
  cursor: pointer;
  color: green;
  box-shadow: green 0 1px 5px 0;
}

.btnViewCart {
  background-color: rgb(252, 252, 171);
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 4px;
  height: 2rem;
  width: 2rem;
}

.btnViewCart:hover {
  background-color: rgb(230, 149, 255);
  color: black;
}

.btnViewCart a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.375rem;
  z-index: 2;
  top: 0;
  padding: 8px;
  right: 0;
  transition: all ease-in-out 500ms;
}

.btnViewCart a:hover {
  background-color: rgb(225, 188, 255);
  cursor: pointer;
  color: rgb(81, 2, 92);

  box-shadow: rgb(253, 70, 247) 0 1px 5px 0;
}

.btnAddProduct {
  position: absolute;
  font-size: 1.5rem;
  z-index: 5;
  width: 20vw;
  color: black;
  background-color: rgb(92, 236, 130);
  box-shadow: rgb(0, 0, 0) 1px 1px 5px 0px;
  cursor: pointer;
}

.btnAddProduct:hover {
  color: green;
  background-color: rgb(196, 255, 247);
  box-shadow: rgb(0, 249, 124) 1px 1px 5px 0px;
  cursor: pointer;
}

.btnAccessCart {
  border: solid blue 2px;
  background-color: transparent;
  position: absolute;
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 1.3rem;
  right: 0;
  z-index: 5;
  width: fit-content;
  color: red;
  background-color: rgb(255, 196, 196);
  box-shadow: rgb(249, 0, 0) 1px 1px 5px 0px;
  cursor: pointer;
}

.btnExitCart {
  width: 100%;
  position: relative;
  padding-bottom: 3px;
  background: rgb(21, 3, 123);
  border: solid rgb(14, 1, 114) 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffffff;
  font-family: "Sinami", sans-serif;
  font-size: 1.875rem;
  padding-top: 10px !important;
  transition: all 500ms ease;
  cursor: pointer;
}

.btnExitCart:focus,
.btnExitCart:hover {
  background: rgb(21, 3, 123);
  border: solid rgb(14, 1, 114) 2px;
  color: rgb(242, 255, 0);
  box-shadow: rgb(72, 0, 255) 1px 1px 5px 0px;
}

.container__clearBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 10vh;
}

.btnCleanCart {
  width: 50%;
  height: 5vh;
  position: relative;
  padding-bottom: 3px;
  background: rgb(255, 0, 0);
  border: solid rgb(114, 1, 1) 2px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Sinami", sans-serif;
  font-size: 1.875rem;
  transition: all 500ms ease;
  cursor: pointer;
}

.btnCleanCart:focus,
.btnCleanCart:hover {
  background: rgb(255, 0, 0);
  border: solid rgb(255, 0, 0) 2px;
  color: rgb(0, 0, 0);
  box-shadow: rgb(0, 0, 0) 1px 1px 5px 0px;
}

.btnAddtoCart {
  background-color: transparent;
  position: absolute;
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 1.3rem;
  right: 3px;
  z-index: 5;
  width: fit-content;
  color: red;
  background-color: rgb(255, 196, 196);
  box-shadow: rgb(249, 0, 0) 1px 1px 5px 0px;
  cursor: pointer;
}

.btnAddtoCart:hover {
  color: green;
  background-color: rgb(196, 255, 247);
  box-shadow: rgb(0, 249, 124) 1px 1px 5px 0px;
  cursor: pointer;
}

.btnAddtoCart:focus {
  background-color: rgb(228, 255, 196);
}

.btnAddNewCart,
.btnAddNewCart:focus {
  font-family: "Sinami", sans-serif;
  font-size: 2.8vh;
  width: 90%;
  border-radius: 15px;
  color: rgb(4, 167, 4);
  background-color: transparent;
  box-shadow: #9ce3fa 0px 0px 10px 0px;
  border: none;
  border-bottom: solid red 2px;
  height: fit-content;
  z-index: 1;
}

.btnAddNewCart:hover {
  box-shadow: #00bfff 0px 0px 10px 0px;
  cursor: pointer;
  color: #02e30e;
}

.btnRemoveCart {
  background-color: transparent;
  position: absolute;
  justify-content: center;
  font-size: 2vw;
  z-index: 5;
  left: 4px;
  bottom: 4px;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  color: red;
  border: none;
  background-color: rgb(255, 196, 196);
  box-shadow: rgb(249, 0, 0) 1px 1px 5px 0px;
  cursor: pointer;
}

.btnRemoveCart:hover,
.btnRemoveCart:focus {
  background-color: red;
  box-shadow: #e46464 0px 0px 10px 0px;
  cursor: pointer;
  color: #000000;
}

.btnTransferCart,
.btnTransferCart:focus {
  background-color: transparent;
  position: absolute;
  justify-content: center;
  font-size: 2vw;
  z-index: 5;
  right: 4px;
  top: 4px;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  color: rgb(30, 0, 255);
  border: none;
  background-color: rgb(196, 214, 255);
  box-shadow: rgb(0, 41, 249) 1px 1px 5px 0px;
  cursor: pointer;
}

.btnTransferCart:hover {
  background-color: rgb(0, 249, 153);
  box-shadow: rgb(3, 130, 69) 1px 1px 5px 0px;
}

.btnUpdate--min,
.btnUpdate--min:focus {
  background-color: transparent;
  color: black;
  position: absolute;
  display: block;
  z-index: 1;
  right: 0;
  bottom: 0;
  border-radius: 50px;
}

.btnUpdate--min:hover {
  background-color: transparent;
  color: orange;
  background-color: rgb(249, 255, 203);
  box-shadow: #ff9900 0px 0px 10px 0px;
}

.btnUpdate--max,
.btnUpdate--max:focus {
  background-color: transparent;
  color: black;
  position: absolute;
  display: block;
  z-index: 1;
  right: 0;
  top: 0;
  margin-top: 3.5vh;
  border-radius: 50px;
}

.btnUpdate--max:hover {
  background-color: transparent;
  color: green;
  background-color: rgb(165, 241, 188);
  box-shadow: #37ff00 0px 0px 10px 0px;
}

/*VALIDATE BLOCK*/
#validate {
  background-color: greenyellow;
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "Love You", sans-serif;
  color: black;
  border-radius: 10px;
  border: solid 2px black;
  width: 14vw;
  height: 4vh;
  font-size: 1.25rem;
  transition: all 400ms ease;
}

#validate:hover {
  color: rgb(38, 2, 108);
  width: 16vw;
  cursor: pointer;
  box-shadow: #2cff37 0px 0px 15px 0px;
}

/*RETURN BLOCK*/
#return {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(61, 2, 179);
  box-shadow: #9966cc 0px 0px 20px 0px;
  transition: all 900ms ease-in-out;
  z-index: 100;
  border-radius: 10px;
  margin: 5px;
  width: 6vh;
  display: flex;
  align-items: center;
}

#return:hover {
  color: rgb(38, 2, 108);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#return a {
  font-size: 1.5rem;
  border: solid black 2px;
  color: #f2f600;
  position: relative;
  height: 5vh;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

#return a:hover {
  color: #fbfe56;
  background-color: rgb(75, 2, 220);
  box-shadow: #9966cc 0px 0px 20px 0px;
}

#return i {
  position: relative;
  margin: 7px;
  left: 0;
  font-size: 1.625rem;
  position: relative;
}

/*CHAT LOGIN BLOCK*/
.chat {
  position: relative;
  margin: 0;
  padding: 0;
}

.chat__login--tittle {
  color: rgb(46, 12, 200);
  font-family: "g Glegar", sans-serif;
  font-size: 2.5rem;
}

.chat__login--text {
  color: black;
  font-family: "DEC Terminal Modern", sans-serif;
  font-size: 2rem;
}

.chat__login--confirm,
.chat__login--exit {
  font-family: "TT Marxiana Trial", sans-serif;
  font-size: 1.25rem;
  color: black;
}

.chat__login--confirm:hover,
.chat__login--exit:hover {
  color: white;
  font-size: 1.375rem;
}

.chat__login--notification {
  font-size: auto;
  color: black;
  font-family: "Gentium Plus", sans-serif;
}

.chat__footer--left {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: black;
}

.chat__footer--right {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: black;
}

.chat__footer--left:hover,
.chat__footer--right:hover {
  color: blueviolet;
  cursor: pointer;
}

/*CHAT CONTAINER BLOCK*/
.main__container__dinamic--chat {
  height: auto;
  position: sticky;
  top: 6vh;
}

.chat__tittle {
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin: 0;
  border-top: solid 1px black;
  background-color: rgb(175, 255, 175);
}

.chat__tittle u {
  margin: 0;
  margin-top: 10px;
  position: relative;
  color: #9d00ff;
  background-color: rgb(175, 255, 175);
  font-size: 5vw;
  font-family: "Sinami", sans-serif;
}

.chat__container--response {
  position: relative;
  padding-left: 1vw;
  background-color: rgb(175, 255, 175);
  border-bottom: solid 1px black;
  margin: 0;
}

.chat__container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
}

.chat__container__dinamic {
  position: relative;
  width: 100%;
  margin: 0;
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
}

/*CHAT MESSAGE BLOCK*/
.chat__message {
  display: flex;
  margin: 10px;
}

.chat__message--bubble {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #ddd;
}

.chat__message--sender {
  font-size: 0.9375rem;
  color: black;
  margin-bottom: 5px;
  justify-content: space-between;
  font-weight: bold;
}

.chat__message p {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  color: black;
  font-size: 1rem;
  border: none;
  cursor: text;
}

/*CHAT INPUT BLOCK*/
.chat__input {
  position: relative;
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
  z-index: 100;
  margin: 0;
  left: 10px;
}

.chat__input--chatBox {
  width: 100%;
  background-color: white;
  border-radius: 60px;
}

.chat__input--chatBox input {
  flex: 1;
  border: none;
  font-size: 1rem;
}
.chat__input--chatBox input:hover {
  cursor: text;
}

.chat__input--button {
  height: 50%;
  display: flex;
}

#btnSend {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 60px;
  background-color: rgb(82, 248, 82);
  cursor: pointer;
  border: solid 2px black;
}

/*CSS DEVICE < 600px (37.5rem)(base 1rem=16px) (CEL)*/

@media only screen and (max-width: 37.5rem) {
  /*DEVICE CEL MAIN BLOCK*/
  .inactiveAdd {
    display: none !important;
    position: absolute;
  }

  .container__grid {
    grid-template-columns: repeat(auto-fit, minmax(12.25rem, 15rem));
    grid-column-gap: 5px;
    margin-top: 10px;
  }
  .container__cart {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 27rem));
    grid-gap: 5px;
    width: 95%;
  }

  /*DEVICE CEL HEAD BLOCK*/
  .head__h2 {
    font-size: 7vw;
    padding-top: 1vw;
  }

  /*DEVICE CEL NAV BLOCK*/
  .div__container--focusBtn i {
    position: relative;
    top: 1.7vh;
  }

  .div__container--focusBtn b {
    display: none;
  }

  /*DEVICE CEL ASIDE BLOCK*/
  .asideSD__dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .asideMLD__dropdown {
    display: none;
  }

  /*DEVICE CEL DINAMIC BLOCK*/
  .dinamic__container--addProduct {
    height:100%;
    display: block;
    position: absolute;
    left: 0;
    background: linear-gradient(white, rgb(190, 240, 255));
    width: 100%;
    z-index: 2;
  }

  .dinamic__container--listProduct {
    position: sticky;
    top: 6vh;
  }

  /*DEVICE CEL STATIC BLOCK*/
  .static__container--grid {
    height: 67vh;
  }

  /*DEVICE CEL CART BLOCK*/
  .container__cart__card {
    height: 17vh;
    width: auto;
    margin: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }

  .cart-title--filled {
    font-size: 3vw;
  }

  .card_imgCart--overlay b {
    top: -4px;
    left: 2px;
  }

  /*DEVICE CEL CHAT BLOCK*/
  .chat__tittle u {
    font-size: 5vh;
  }
}

/*CSS DEVICE > 992px (62rem) (base 16px=1rem) (LAP)*/

@media only screen and (min-width: 69rem) {
  /*ALL*/
  .quantityP {
    font-size: 1.5rem;
    color: rgb(1, 1, 64);
    border-radius: 5px;
    background-color: transparent;
    box-shadow: #482cff 0px 0px 15px 0px;
  }

  /*DEVICE LAP MAIN BLOCK*/
  .container__grid {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-gap: 5px;
    width: 95%;
  }

  .container__cart {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 5px;
    width: 95%;
  }

  /*DEVICE LAP NAV BLOCK*/
  .div__container--focusBtn a {
    width: 7.5vw;
    align-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .div__container--focusBtn i {
    top: 1vh;
  }

  .div__container--focusBtn:hover b {
    font-size: 1rem;
  }

  .div__container--focusBtn:hover i {
    font-size: 1.6rem;
  }

  /*DEVICE LAP ASIDE BLOCK*/
  .btnAsideMLD p {
    font-size: 1.5rem;
  }

  .asideMLD__menu--options h6 {
    font-size: 3vh;
  }

  .asideMLD__menu--options i {
    display: inline-flex;
    align-self: start;
    font-size: 1.2em;
    position: relative;
    top: 0;
    width: fit-content;
    margin-left: 3px;
  }

  .asideMLD__menu--options b {
    display: inline-flex;
    align-self: start;
    font-size: 1.2em;
    position: relative;
    top: 0;
    margin-left: 3px;
    width: fit-content;
  }

  .asideMLD__menu--options a {
    color: black;
    display: block;
    align-items: center;
    justify-content: start;
    font-family: "Sinami", sans-serif;
    font-size: 1rem;
    width: 85%;
    padding: 10px 0;
    margin: 10px;
    text-overflow: ellipsis;
  }

  /*DEVICE LAP CART BLOCK*/
  .container__cart__card {
    height: 27vh;
    width: auto;
    margin: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }

  .cart-title--filled {
    font-size: 1.5vw;
  }

  .card_imgCart--overlay b {
    top: -11px;
    left: 4px;
  }

  .btnViewCart {
    height: 3rem;
    width: 3rem;
  }

  .btnViewCart a {
    font-size: 2rem;
  }

  /*DEVICE LAP CHAT BLOCK*/
  .chat__tittle u {
    font-size: 3.5vw;
  }

  /*DEVICE LAP RETURN BLOCK*/
  #return a {
    align-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #return i {
    position: relative;
    right: 0.2vw;
    top: 0.05vh;
  }

  #return b {
    bottom: 0.6vh;
  }
}

/*FOOTER BLOCK*/
.footer__contain {
  position: fixed;
  bottom: 0px;
  height: 4vh;
  width: 100%;
  background: linear-gradient(white, rgb(190, 240, 255));
  z-index: 4;
  display: flex;
  justify-content: center;
}

/*NAV DINAMICO*/
.nav__dinamic{
  position: relative;
  overflow: hidden;
  cursor: default;
}

.nav__dinamic b{
  font-size: 0.8rem;
  animation-name: deslizar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: hidden;
}

@keyframes deslizar {
  0% {
    position: relative;
    left: 0;
    color: red;
  }
  15% {
    color: orange;
  }
  30% {
    color: yellow;
  }
  45% {
    color: green;
  }
  60% {
    color: blue;
  }
  75% {
    color: purple;
  }
  100% {
    position: relative;
    left: 100%;
    color: violet;
  }
}

.redirection{
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: progress;
}
.redirection__github{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: progress;
}

