<html>
  <head id="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    {{#unless isLogin}}
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      />
    {{/unless}}
    <link
      rel="stylesheet"
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <link
      href="https://fonts.cdnfonts.com/css/capriola-buisiness"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/dec-terminal-modern"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/tt-marxiana-trial"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/g-glegar" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/sinami" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/love-you" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/thirty-seven" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href={{style}} />
    <script
      src="https://kit.fontawesome.com/ddc8b3b9c4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/assets/icons/resto.ico" />
    <title>SERVER RESTRUCTURING</title>
    <!--bloque de encabezado-->
    <div class="head">
      <h2 class="head__h2">Server Restructuring</h2>
    </div>
    <!--fin bloque de encabezado-->
  </head>
  <body id="body">
    {{#unless isLogin}}
      <section id="__ZONE__header">
        <header class="header">
          <section id="__ZONE__nav">
            <!--bloque de navegacion-->
            <nav class="header__nav nav">
              <div class="nav__container row">
                <div class="nav__container--blank col s2"></div>
                <div class="nav__container--email-logged col s6"><b>{{role}}</b>:
                  <u>{{user}}</u></div>
              </div>
              <div class="nav__container--blank col s4"></div>
            </nav>
            <!--fin bloque de navegacion-->
          </section>
        </header>
      </section>
      <section id="__ZONE__aside">
        <aside class="aside__MLD">
          <div class="asideMLD__dropdown row">
            <div class="asideMLD__dropdown--menu">

              <div class="asideMLD__menu--logo">
                <img
                  src="https://png.pngtree.com/png-vector/20190329/ourlarge/pngtree-restaurant-logo-template-design-restaurant-logo-with-modern-frame-isolated-png-image_887423.jpg"
                />
              </div>
              <div class="asideMLD__menu--addProduct hidden">
                <button type="button" class="btnAsideMLD"><i
                    class="fa-regular fa-square-plus fa-bounce"
                  ><p>Add Product</p></i></button>
              </div>
              <div class="asideMLD__menu--options">
                <h6>
                  <button type="button" class="fas fa-bars">
                  </button>
                  NAVIGATION PANEL
                </h6>
                <div class="asideMLD__menu--options-ul">
                  <ul>
                    <div class="div__container--focusBtn">
                      <div class="asideMLD__menu--options-li">
                        <li>
                          <a href="../home" type="button"><i
                              class="fas fa-arrows-to-dot"
                            ></i><b> Static</b></a>
                        </li>
                      </div>
                      <div class="asideMLD__menu--options-li">
                        <li>
                          <a href="../realtimeproducts" type="button"><i
                              class="fas fa-arrows-spin"
                            ></i><b> Dinamic</b></a>
                        </li>
                      </div>
                      <div class="asideMLD__menu--options-li">
                        <li>
                          <a href="../products" type="button"><i
                              class="fa light fa-utensils"
                            ></i><b> Products</b></a>
                        </li>
                      </div>
                      <div class="asideMLD__menu--options-li">
                        <li>
                          <a href="../cart" type="button"><i
                              class="fa light fa-cart-shopping"
                            ></i><b> Cart</b></a>
                        </li>
                      </div>
                      <div class="asideMLD__menu--options-li">
                        <li>
                          <a href="../chat" type="button"><i
                              class="far fa-comments"
                            ></i><b> Chat</b></a>
                        </li>
                      </div>
                      <div class="asideMLD__menu--options-li">
                        <li>
                          <a href="../profile" type="button"><i
                              class="far fa-face-smile"
                            ></i><b> Profile</b></a>
                        </li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <aside class="aside__SD">
          <!--ASIDE SMALL DEVICES-->
          <div class="asideSD__menu--logo">
            <img
              src="https://png.pngtree.com/png-vector/20190329/ourlarge/pngtree-restaurant-logo-template-design-restaurant-logo-with-modern-frame-isolated-png-image_887423.jpg"
            />
          </div>
          <div class="asideSD__dropdown row">
            <div class="asideSD__dropdown--addProduct hidden">
              <button class="asideSD__dropdown--button" type="button">
                <i class="fa-regular fa-square-plus fa-bounce">
                  <b>Add Product</b>
                </i>
              </button>
            </div>
            <div class="asideSD__dropdown--contain"><a
                href="../home"
                type="button"
              ><i class="fas fa-arrows-to-dot fa-beat"></i></a>
              <b>Static</b>
            </div>
            <div class="asideSD__dropdown--contain"><a
                href="../realtimeproducts"
                type="button"
              ><i class="fas fa-arrows-spin fa-spin"></i></a>
              <b>Dinamic</b>
            </div>
            <div class="asideSD__dropdown--contain"><a
                href="../products"
                type="button"
              ><i class="fa light fa-utensils fa-beat"></i></a>
              <b>Products</b>
            </div>
            <div class="asideSD__dropdown--contain"><a
                href="../cart"
                type="button"
              ><i class="fa light fa-cart-shopping fa-fade"></i></a>
              <b>Cart</b>
            </div>
            <div class="asideSD__dropdown--contain"><a
                href="../chat"
                type="button"
              ><i class="far fa-comments fa-flip"></i></a>
              <b>Chat</b>
            </div>
            <div class="asideSD__dropdown--contain"><a
                href="../profile"
                type="button"
              ><i class="far fa-face-smile fa-bounce"></i></a>
              <b>Profile</b>
            </div>
          </div>
        </aside>
        <!--fin bloque de aside-->
      </section>
    {{/unless}}
    <section id="__ZONE__main">
      <!--bloque principal-->
      <main id="main">
        <div class="main__container row">
          {{{body}}}
        </div>
      </main>
      <!--fin bloque principal-->
    </section>
  </body>
  <section id="__ZONE__footer">
    <footer id="footer">
      <div class="footer__contain">
        <b>CODERHOUSE: Jorge Carlos Gayoso Ugas.</b>
      </div>
    </footer>
  </section>
</html>